<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/littlefield.jpg');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE</h2>
            <hr/>
            <p class="venue-subtitle">Littlefield</p>
            <p class="venue-text">635 Sackett St,<br>
                Brooklyn,<br>
              NY 11217</p>
                <h2 class="venue-subtitle">
                  <strong><a href="https://littlefieldnyc.com/info/" style="color: #4DBA12" target="_blank">VENUE DETAILS</a><br>
                </h2>

        </div>
        <h2 class="venue-subtitle">ACCOMMODATION/h2><br>
        <p>We have secured rooms at the Tru by Hilton Brooklyn Hotel from $289 (including taxes & breakfast). To book please follow <a href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=JFKIBRU&groupCode=BEA&arrivaldate=2024-11-13&departuredate=2024-11-15&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT" style="color: orange">this link.</a></p>
      </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


</div>
